:root {
  --text: #fff;
  --text-shadow: 1px 1px #333;
  --box-shadow-dark: 0px 2px 8px 0px var(--dark);
  --box-shadow-light: 0px 2px 8px 0px var(--text);
  --light: #6fa3ff;
  --primary: #191970;
  --secondary: #40e0d0;
  --dark: #1e2222;
  --gradient: linear-gradient(
    #6fa3ff,
    #191970,
    #40e0d0,
    #008080,
    #263e3e,
    #1e2222
  );
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 1.125em;
  background-image: var(--gradient);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Her begynner header */
.header {
  grid-area: header;
  color: var(--text);
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 0px 40px 40px var(--primary);
}

.header p {
  position: absolute;
  left: 4.2em;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  position: absolute;
  width: 100px;
  top: 0.3em;
  left: 0.1em;
  padding: 10px 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: var(--text);
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--light);
}

/* meny */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* meny icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: var(--text);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: var(--text);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* meny btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* Her begynner main */
main {
  color: var(--text);
  text-shadow: var(--text-shadow);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content h1 {
  font-size: 2em;
  margin: 2em 2.5em 0;
}

.content img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.content-btn {
  width: 200px;
  padding: 1em;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--text);
  font-size: 17px;
  font-weight: bold;
  text-shadow: var(--text-shadow);
 
}

.content-btn:hover {
  background-color: var(--light);
  transition: 0.2s;
}

.link:hover + img {
  opacity: 0.8;
  transition: 0.2s;
  transform: scale(1.01);
  box-shadow: 0px 2px 8px 0px var(--text);
}

.txt {
  text-align: center;
  margin: 2em 3em;
}

.img-wrap {
  margin-top: 20px;
  position: relative;
  width: 300px;
}

.lions-img {
  width: 100%;
  display: block;
  border-radius: 1em;
  box-shadow: var(--box-shadow-dark);
}

.img-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s, visibility 0.5s;
}

.img-wrap p {
  font-size: 1.5em;
  font-weight: bold;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.img-wrap:hover .lions-img {
  opacity: 0.6;
  box-shadow: var(--box-shadow-light);
}

.sea-lions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-txt {
  text-align: center;
  padding: 5em 8em 0;
}

.wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  box-shadow: 0px 2px 8px 0px var(--dark);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  height: 40vh;
  width: 250px;
  background-color: var(--primary);
  margin: 2rem;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 34vh;
}

.name {
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  left: 5.5em;
  top: 0.1em;
  color: var(--text);
}

.btn {
  width: 100%;
  border: none;
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  padding: 0.5rem;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 8px 0px var(--text);
}

/* Her beynner footeren */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.somelogoes-box {
  width: 80%;
  background-color: var(--dark);
  height: 14em;
  text-align: center;
  border-radius: 1rem;
}

.somelogoes-header {
  font-size: 1.1em;
  text-align: center;
  color: var(--text);
  text-shadow: var(--text-shadow);
  width: 80%;
}

.somelogoes-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.somelogoes i {
  margin: 0 2rem;
  color: var(--secondary);
  overflow: hidden;
}

.somelogoes p {
  color: var(--secondary);
  font-size: 15px;
}

.somelogoes i:hover {
  transform: scale(1.09);
  color: var(--text);
}

.footer-links {
  height: 20em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.links-header {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.links-header,
.footer-links li a {
  color: var(--secondary);
}

.footer-links ul li {
  margin: 10px;
  font-size: 15px;
}

.footer-links li a:hover {
  color: var(--text);
}

small {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  color: var(--text);
}

/* Media queries */
@media only screen and (max-width: 640px) {
  .name {
    top: -1em;
    left: 3.8em;
  }
  .content {
    height: 22em;
  }
  .content h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .main-txt {
    font-size: 16px;
  }
  .cards {
    width: 170px;
    height: 170px;
    margin: 1rem;
  }
  .cards img {
    height: 18vh;
  }
  .somelogoes i {
    margin: 0 0.2em;
  }
  .somelogoes-header {
    margin: 2em;
  }
  .footer-links {
    margin: 2em 0;
  }
  .footer-links ul {
    padding: 0 3em;
    margin: 0;
  }
  .footer-links li a {
    font-size: 15px;
  }
  footer {
    padding-bottom: 3em;
  }
  small {
    position: relative;
    bottom: -3em;
  }
}

@media only screen and (min-width: 641px) {
  .content {
    font-size: 1em;
    text-align: center;
    height: 25em;
    
  }
  .content-btn {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    height: 30em;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .content {
    height: 100vh;
    font-size: 1.2em;
    line-height: 1.7;
    top: -4em;
  }
 
}
